.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-6-dots-icon {
	font-size:(19/10)*1rem;
	width:(18/19)*1em;
}
.icon-9-dots-icon {
	font-size:(19/10)*1rem;
	width:(18/19)*1em;
}
.icon-action-item {
	font-size:(451/10)*1rem;
	width:(261/451)*1em;
}
.icon-angle-left {
	font-size:(14/10)*1rem;
	width:(8/14)*1em;
}
.icon-arrow-top-left {
	font-size:(21/10)*1rem;
	width:(28/21)*1em;
}
.icon-basket {
	font-size:(22/10)*1rem;
	width:(26/22)*1em;
}
.icon-basket-alt {
	font-size:(22/10)*1rem;
	width:(26/22)*1em;
}
.icon-blank {
	font-size:(41/10)*1rem;
	width:(30/41)*1em;
}
.icon-car {
	font-size:(18/10)*1rem;
	width:(31/18)*1em;
}
.icon-card {
	font-size:(31/10)*1rem;
	width:(42/31)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-check-common {
	font-size:(19/10)*1rem;
	width:(27/19)*1em;
}
.icon-chevron-down {
	font-size:(8/10)*1rem;
	width:(14/8)*1em;
}
.icon-chevron-right {
	font-size:(14/10)*1rem;
	width:(8/14)*1em;
}
.icon-clock {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-coins {
	font-size:(40/10)*1rem;
	width:(41/40)*1em;
}
.icon-compare {
	font-size:(18/10)*1rem;
	width:(17/18)*1em;
}
.icon-cross {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-email {
	font-size:(14/10)*1rem;
	width:(19/14)*1em;
}
.icon-filter-bar-icon {
	font-size:(25/10)*1rem;
	width:(30/25)*1em;
}
.icon-gray-logo {
	font-size:(200/10)*1rem;
	width:(183/200)*1em;
}
.icon-house {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-like {
	font-size:(16/10)*1rem;
	width:(17/16)*1em;
}
.icon-like-alt {
	font-size:(15/10)*1rem;
	width:(17/15)*1em;
}
.icon-mark {
	font-size:(18/10)*1rem;
	width:(12/18)*1em;
}
.icon-plane {
	font-size:(25/10)*1rem;
	width:(26/25)*1em;
}
.icon-sand-clock {
	font-size:(34/10)*1rem;
	width:(20/34)*1em;
}
.icon-star-bestseller {
	font-size:(451/10)*1rem;
	width:(295/451)*1em;
}
.icon-star-new-item {
	font-size:(365/10)*1rem;
	width:(295/365)*1em;
}
.icon-tel {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
.icon-user {
	font-size:(25/10)*1rem;
	width:(24/25)*1em;
}
.icon-zoom {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
