
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win modal-form" )
			.text-center
				+e.title.h3.ttu Обратный звонок
				p Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течении 15&nbsp;минут
			+input("Ваше Имя")(required) 
			+input("Ваш телефон","tel")(required)
			//- +input("email","Ваше email")(required)
			//- +text( "Комментарий")
			+e.INPUT.btn(type="submit" value="Рассчитать") 
			+polite()
		// #modal-call
		+form-wrap()(id="modal-order-request" class="modal-order-request" )
			+e.close-bl.d-block.d-md-none
				a(href='#modal-order-request')
					+icon('angle-left')
					span назад
			+e.content
				+e.big-headline Запрос счёта
				+e.headline Контактные данные
				+input('', 'text', 'ФИО*', 'user-name')(required)
				+input('', 'tel', 'Телефон*', 'phone')(required)
				+input('', 'email', 'E-mail*')(required)
				+e.props-pills
					+e.props-pills-item.active(data-tab-for='fill-props'  data-tab-pill='props') Заполнить реквизиты
					+e.props-pills-item(data-tab-for='load-props'  data-tab-pill='props') Загрузить реквизиты
				.fill-props-cont.active(data-tab-for='fill-props' data-tab-content='props')
					+e.headline Реквизиты
					+input('', 'text', 'Корр. счёт', 'account-1')
					+input('', 'text', 'Расч. счёт', 'account-2')
					+input('', 'email', 'E-mail*')(required)
				.load-props-cont(data-tab-for='load-props' data-tab-content='props')
					+e.headline.file-headline Прикрепить файл
					#props-dz.dropzone()
						.fallback
							input(name='file', type='file', multiple='')
					//+e.headline.file-headline Прикрепить файл
					//+add-file('Перенесите сюда файл или выберите на компьютере')
				button.order-bnt.send-props-btn Отправить
				p.private-policy-txt Нажимая кнопку &laquo;Оформить заказ&raquo;,  вы&nbsp;соглашаетесь с&nbsp;
					a(href='#') Политикой конфиденциальности.
// modal
		.tabs
			.tabs__caption
				.tabs__btn.active
				.tabs__btn
			.tabs__wrap
				.tabs__content.active
				.tabs__content