extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sCategory/_sCategory.pug 
include ../blocks/sCatalog/_sCatalog.pug 
include ../blocks/sArticals/_sArticals.pug

include ../blocks/sCatalogPage/_sCatalogPage.pug
include ../blocks/sActionsPage/_sActionsPage.pug
include ../blocks/sProductPage/_sProductPage.pug

block variables
	- let  mainPage= 'product-card-page'
block title
	- let  title= '04-product-card'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+sProductPage()
	//+headline('Каталог техники Husqvarna')
	//+sCatalogPage()
		+sCategory02()
	+footer()
