extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sCategory/_sCategory.pug 
include ../blocks/sCatalog/_sCatalog.pug 
include ../blocks/sArticals/_sArticals.pug

include ../blocks/sBasket/_sBasket.pug

block variables
	- let  mainPage= null
block title
	- let  title= '05-basket'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+headline('Корзина')
	+sBasket()
	+footer()
