extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sCategory/_sCategory.pug 
include ../blocks/sCatalog/_sCatalog.pug 
include ../blocks/sArticals/_sArticals.pug

include ../blocks/sConfirmPayment/_sConfirmPayment.pug

block variables
	- let  mainPage= null
block title
	- let  title= '07-confirm-payment'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+headline('Оформление заказа')
	+sConfirmPayment()
	+footer()