extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sCategory/_sCategory.pug 
include ../blocks/sCatalog/_sCatalog.pug 
include ../blocks/sArticals/_sArticals.pug

include ../blocks/sNewsInDetail/_sNewsInDetail.pug

block variables
	- let  mainPage= null
block title
	- let  title= '13-news-detail'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+headline('Новости и статьи')
		+breadcrumb("Все материалы","Характеристики", "комплектация", "ДОКУМЕНТАЦИЯ", "запасные части")
	+sNewsInDetail()
	+footer()