mixin sContent()
	// start sContent
	+b.sContent.section.pt-0
		.container
			h5 Предлагаем Вашему вниманию
			br
			br
			p Предлагаем Вашему вниманию надежные мощные триммеры, подходящие для выполнения множества задач. Это простые в управлении  и гибкие инструменты небольшого веса, снабженные интеллектуальными функциями. Вам не придется больше беспокоить соседей. Триммеры Husqvarna производят минимальное количество шума и идеально подойдут для работы в жилых кварталах. Предлагаем Вашему вниманию надежные мощные триммеры, подходящие для выполнения множества задач. Это простые в управлении  и гибкие инструменты небольшого веса, снабженные интеллектуальными функциями. Вам не придется больше беспокоить соседей. Триммеры Husqvarna производят минимальное количество шума и идеально подойдут для работы в жилых кварталах.
	// end sContent