mixin sSubCatalog()
	// start sSubCatalog
	+b.SECTION.sSubCatalog.section#sSubCatalog&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sSubCatalog
				
			.row
	// end sSubCatalog