// start .topLine
.topLine {
	background: #EAEBEE;
	font-size: rem(16);
	padding: rem(8) 0;
	font-weight: 300;
	position: relative;
	z-index: 210;

	&__col {
		z-index: 4;
	}

	.icon {
		@include mt;
		font-size: rem(16);
	}

	&__row {
		align-items: center;
	}

	.icon {}

	&__link--compare {
		.icon {
			color: transparent;
			stroke: $dark;
			stroke-width: 1px;
		}

		&:hover {
			.icon {

				color: $dark;
			}
		}
	}

	&__time {
		.icon {
			margin-right: rem(8);
			font-size: rem(19);
			color: rgba(39, 58, 96, 0.25);
		}
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.topLine