.dropdown-block {
	position: absolute;
	left: 0;
	top: rem(-10);
	background-color: #ffffff;
	z-index: -1;
	display: none;
	padding: rem(45) rem(15) rem(15);
	box-shadow: 0px 16px 24px rgba(39, 58, 96, 0.25);
	width: calc(100%);

	&__footer {
		border-top: 1px solid $primary;
		padding-top: rem(20);
	}

	&--user {
		width: rem(180);
	}

	&--basket {
		left: auto;
		right: 0;
		width: rem(323);
		padding: rem(30);
		// display: block;
		// t0

		img {
			margin-right: rem(10);
		}

		.goods {
			padding-top: rem(15);

			&__item {
				padding-top: rem(15);
				padding-bottom: rem(15);

				&:last-child {
					border: none;
				}
			}
		}

		.goods__price-bl {
			padding-top: 1px;
			margin-left: 0;
		}

		.new-price {
			color: #273A60;
			font-size: rem(24);
		}
	}

	&--search {
		width: 100%;
		display: block;
		top: 100%;
	}

	&__link {
		color: #273A60;
		display: block;
		margin-bottom: rem(15);
		padding-left: rem(32);
		// position: absolute;
		position: relative;

		.icon,
		img {
			position: absolute;
			left: 0;
			color: #273A60 !important;
			font-size: 15px;
		}
	}

}

.dropdown {
	position: relative;
	margin-right: rem(-15);

	&:hover {
		z-index: 20;

		.dropdown-block {
			display: block;
		}
	}

	&__toggle {
		padding-left: rem(15);
		display: flex;
		align-items: center;
		letter-spacing: 0.03em;
		padding-right: rem(15);
		cursor: pointer;

		.icon {
			margin-right: rem(9);
			font-size: 1rem;
			color: rgba(39, 58, 96, 0.25);
			@include mt;
			position: relative;
		}

		&--var {
			padding: rem(10) rem(15px);
		}
	}

	&:hover>&__toggle>&__toggle-arrow {
		transform: rotateX(180deg);
	}

	&--user {
		.icon {
			font-size: rem(24);
			color: $primary;
		}
	}

	&__icon-wrap {
		position: relative;

		.icon {
			@include mt;
			color: $primary;
			margin-right: 0;
			font-size: rem(22);
		}

		margin-right: rem(9);

	}

	&__count {
		position: absolute;
		color: #ffffff;
		@include a-cent;
		font-weight: 500;
		font-size: rem(14);
		letter-spacing: rem(0.42);
		margin-top: rem(5);
	}

	&__toggle-arrow {
		margin-left: rem(10);
		width: rem(12px);
		height: rem(6px);
		background-image: url(../img/svg/chevron-down.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		@include mt;
	}

	&__link--tel {
		.icon {
			color: rgba(39, 58, 96, 0.25);
		}
	}
}