mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 

	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
				.col-lg-auto.col.text-md-center
					+e.logo(href="/")
						img(src="img/svg/logo.svg", alt="")
				.col.d-none.d-lg-block
					+mnu()
				.col-auto
					+b.search-toggle--js 
						+icon("zoom")
						span.d-none.d-lg-inline Поиск
				.col-auto.d-md-none
					+e.link(href="#")
						+icon("user")
				.col-auto.d-md-none
					+e.link(href="#")
						+icon("basket")
	// end top-nav