.top-nav {
	background-color: $dark;
	font-weight: 300;
	position: relative;
	z-index: 200;
	color: #273A60;

	&__row {

		align-items: center;
	}

	img {
		@include media-breakpoint-up(md) {

			width: rem(220);
		}

		width: rem(140);
		height: auto;
	}

	&__link {
		display: block;
		color: #ffffff;

		.icon {
			font-size: rem(24);

			&-basket {
				font-size: rem(22);

			}
		}

	}

	.dropdown--search {
		@include media-breakpoint-up(lg) {

			padding: rem(25 + 15) rem(15) rem(28 + 15);
		}

		padding: rem(15) rem(15);
	}

	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {
		z-index: 99994;
		// position: fixed;
		// width: 100%;
	}

	@include media-breakpoint-down(sm) {
		.row {
			@include roww(7);
		}
	}

	@include media-breakpoint-down(xs) {}
}

.menu {
	$h: 2px;
	list-style: none;

	@include media-breakpoint-up(lg) {

		display: flex;
		justify-content: center;
		align-items: center;
	}

	font-weight: 300;
	letter-spacing: rem(0.54px);
	text-transform: uppercase;
	margin-bottom: 0;
	// @include roww(30)
	margin-left: rem(-15);
	margin-right: rem(-15);

	a {
		text-decoration: none !important;
	}

	&__link {
		display: block;

		color: #ffffff;

		@include media-breakpoint-up(lg) {

			padding: rem(25 + 15) rem(15) rem(28 + 15);
		}

		padding: rem(30) rem(15);
	}

	&__item--has-children>&__link {
		position: relative;
		padding-left: rem(40);

		span {
			@include a-cent(y);
		}

		span:before {
			content: '';


			top: $h * 3;
		}

		span:after {
			content: '';
			bottom: $h * 3;
		}

		span {

			display: block;
			left: rem(10);
		}

		span,
		span:after,
		span:before {
			// width: 32px;
			position: absolute;
			width: rem(20);
			height: $h;
			background-color: #fff;
			transition: all 0.3s;
			backface-visibility: hidden;
			border-radius: 6px;
		}
	}

	ul {
		// display: none;
	}

	&__item--has-children:hover {
		.sub-menu {
			display: block;
		}
	}
}

@include media-breakpoint-up(lg) {

	.sub-menu {
		display: none;

		position: absolute;
		left: 0;
		top: 0;
		background-color: #ffffff;
		top: 100%;
		width: 100vw;
		width: 100%;
		left: 0;
		padding: rem(60) 0;
		box-shadow: 0px 16px 24px rgba(39, 58, 96, 0.25);

		li {
			list-style: none;
		}

		&::before {
			content: '';
			top: rem(-50);
			width: 100%;
			height: 50px;
			left: 0;
			position: absolute;
		}

		&__title {
			text-transform: uppercase;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			font-weight: 500;
			color: #4D4D4D;
			font-size: rem(18);
			display: inline-block;
			margin-bottom: rem(27);
		}

		>ul {
			columns: 4;
		}

		&__link {
			display: flex;
			align-items: center;
			margin-bottom: rem(20);
			text-transform: none;
			color: #273A60;
		}

		&__img-wrap {
			display: block;
			width: 52px;
			height: 34px;
			text-align: center;
			line-height: 34px;
			vertical-align: middle;
			margin-right: rem(15);
			flex-shrink: 0;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}

.search-toggle {
	cursor: pointer;
	letter-spacing: rem(0.54px);
	text-transform: uppercase;
	@include mt;
	display: flex;
	align-items: center;

	.icon {
		font-size: rem(22);
		margin-top: rem(4);

		@include media-breakpoint-up(lg) {
			margin-top: 0;
			font-size: rem(20);

			margin-right: rem(10);
		}

		// @include mt;
	}

	&:hover {
		color: $primary;
	}
}