
	// start .sNewsInDetail
	.sNewsInDetail {
		padding: rem(25px) 0 0 0 !important;
		font-weight: 300;
		line-height: rem(19px);
		font-size: rem(16.61px);
		.title-img{
			width: rem(360px);
			max-width: 100%;
			img{
				width: 100%;
				height: auto;
			}
		}
		.material-txt{
			position: relative;
			margin: 0 0 rem(10px) 0;
			padding: rem(8.5px) 0;
			text-transform: uppercase;
			font-size: 14.8px;
			&:after{
				content: '';
				background-color: $light;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
			}
		}
		//.news-in-detail-headline{
			//font-size: $h5-font-size;
			//padding-top: rem(10px);
			//margin-bottom: 0;
			//padding-bottom: rem(12px);
		//}
		.title-txt {
			p {
				//color: red;
				line-height: rem(24px);
				margin-bottom: rem(25px);
			}
		}
		.back-btn{
			//background-color: red;
			text-transform: uppercase;
			line-height: rem(50px);
			svg{
				color: transparent;
				stroke: $primary;
				//stroke: green;
				font-size: rem(12px);
				margin-right: rem(10px);
				position: relative;
				top: rem(-1.5px);
			}
		}
		.references-txt{
			font-size: $h5-font-size;
			margin-top: rem(50px);
		}
		.articals-13{
			padding-top: rem(20px) !important;
			.sArticals__title{
				margin-bottom: rem(20px);
			}
			.sArticals__link{
				margin-top: 20px;
			}
		}
		.item-prod-col {
			.prod-item {
				//background-color: red;
				//height: 450px;
				height: initial;
				max-width: rem(295px);
				margin: auto;
				margin-bottom: 30px;
				.prod-item__img-wrap {
					width: auto;
				}
			}
			.references-txt{
				//color: red;
				margin-top: 0;
				margin-bottom: rem(40px);
			}
		}
		.prod-item-in-row{
			padding: 0;
			.prod-item{
				max-width: 320px;
				margin-bottom: rem(40px);
				height: 450px;
				@include media-breakpoint-up(sm){
					max-width: 1000px;
				}
			}
			.prod-item__img-wrap {
				margin: auto;
			}

		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sNewsInDetail