mixin sNewsInDetail()
	// start sNewsInDetail
	+b.SECTION.sNewsInDetail.section#sNewsInDetail&attributes(attributes)
		.container
			.row
				.col-12.col-lg-8
					.title-img
						img(src="img/@2x/artical-1.jpg" alt="")
					p.material-txt лес
					.title-txt
						h5 Позаботьтесь о тепле и безопасности с принадлежностями для работы  с&#160;цепной пилой
						p В разных странах действуют различные правила и нормативы касательно защитной одежды и оборудования. Но дело даже не в соблюдении стандартов и норм. Ради собственной безопасности при работе с цепной пилой не забывайте о следующих средствах защиты.
						p Газонокосилка бензиновая Husqvarna LC140 9676367-01 используется для кошения травы. Имеет вместительный контейнер. Бензиновый двигатель Briggs&amp;Stratton 450 series обеспечивает длительный срок службы машины. Колеса на&nbsp;шарикоподшипниках отличаются высокой плавностью хода. Складная рукоятка обеспечивает удобство хранения и&nbsp;транспортировки косилки. Центральная регулировка высоты скашивания варьируется от&nbsp;25 до&nbsp;75&nbsp;мм
						p В разных странах действуют различные правила и нормативы касательно защитной одежды и оборудования. Но дело даже не в соблюдении стандартов и норм. Ради собственной безопасности при работе с цепной пилой не забывайте о следующих средствах защиты.
						p Газонокосилка бензиновая Husqvarna LC140 9676367-01 используется для кошения травы. Имеет вместительный контейнер. Бензиновый двигатель Briggs&Stratton 450 series обеспечивает длительный срок службы машины. Колеса на шарикоподшипниках отличаются высокой плавностью хода. Складная рукоятка обеспечивает удобство хранения и транспортировки косилки. Центральная регулировка высоты скашивания варьируется от 25 до 75 мм
					a.back-btn(href='#')
						+icon('angle-left')
						|Назад
					.container.d-block.d-lg-none.prod-item-in-row
						p.references-txt.fw-500 Товары из статьи
						.row
							.col-12.col-sm-6
								+item-prod('category-1.jpg')
							.col-12.col-sm-6
								+item-prod('category-1.jpg')
					p.references-txt.fw-500 Материалы по теме
					+sArticals13()
				.col-lg-4.item-prod-col.d-none.d-lg-block
					p.references-txt.fw-500 Товары из статьи
					+item-prod('category-1.jpg')
					+item-prod('category-1.jpg')
					+item-prod('category-1.jpg')

	// end sNewsInDetail
