mixin sOrderingIndividual()
	// start sOrderingIndividual
	+b.sOrderingIndividual.section#sOrderingIndividual&attributes(attributes)
		.container
			.row
				.col-12.col-lg-7
					+e.authorization-box
						+e.headline Авторизация
						p Если у Вас есть аккаунт авторизуйтесь на сайте. Мы сохраним всю информацию по заказу  и автоматически заполним ваши контактные данные.
						+b.btn-more.authorization-btn(type="button")
							| Авторизоваться
					+form-wrap()
						+e.headline Контактные данные
						+input('', 'text', 'ФИО*', 'user-name')(required)
						+input('', 'tel', 'Телефон*', 'phone')(required)
						+input('', 'email', 'E-mail*')(required)
						+e.headline Способ получения
						+input('Введите название', 'text', 'Город*', 'city')(required)
						+in-c06("checkbox", 'Моего города нет в списке', 'no-my-city')(class="no-my-city")
						+e.delivery-type
							span Варианты доставки
							.delivery-radio-group
								+in-r('delivery-type', true)
									+e.SPAN.item
										.icon-cont
											+icon('car')
										+e.delivery-type Курьерская доставка по Москве
										+e.delivery-price 500 ₽
										+e.delivery-time 1-2 дня
								+in-r('delivery-type')
									+e.SPAN.item
										.icon-cont
											+icon('plane')
										+e.delivery-type  Доставка по России
										+e.delivery-price 500 ₽
										+e.delivery-time от 1-2 дней
								+in-r('delivery-type')
									+e.SPAN.item
										.icon-cont
											+icon('house')
										+e.delivery-type  Самовывоз
										+e.delivery-price 0 ₽
										+e.delivery-time
								+in-r('delivery-type')
									+e.SPAN.item.dpd-item
										.icon-cont
											img(src="img/DPD-logo.svg" alt="")
										+e.delivery-type
											span.d-sm-block='Доставка DPD '
											span.d-sm-block до пункта самовывоза
										+e.delivery-price от 250 ₽
										+e.delivery-time от 1-2 дней
										a.chose-delivery-btn(href="#") Выбрать ПВЗ
						+e.adress-inp
							+input('', 'text', 'Адрес*', 'user-address')(required)
						+e.message-inp
							+input('', 'textarea', 'Ваше сообщение', 'message')(class='textarea-message')
						+b.way-to-pay
							.container
								+e.headline Способ оплаты
								.row
									.col-12.col-sm-4
										+in-r('payment-type')
											+e.SPAN.item
												+icon('coins')
												span Наличный расчет
									.col-12.col-sm-4
										+in-r('payment-type', true)
											+e.SPAN.item
												+icon('card')
												span Оплата online
									.col-12.col-sm-4
										+in-r('payment-type')
											+e.SPAN.item
												+icon('blank')
												span Оплата по&nbsp;счёту для&nbsp;юр.&nbsp;лиц
						+e.sent-btn-cont
							p Нажимая кнопку &laquo;Оформить заказ&raquo;,  вы&nbsp;соглашаетесь с&nbsp;
								a(href='#') Политикой конфиденциальности.
							+input(undefined, 'submit')(value="Отправить")
				.col.col-lg-4.offset-lg-0.offset-xl-1.d-none.d-lg-block
					+b.order-cont
						+e.headline Состав заказа
							+icon('chevron-down')
						+e.items-list-box
							+e.items-list-box-item
								+e.item-img-descr
									img(src="img/@2x/lawn-mover-small.png" alt="lawn-mover")
									p Бурильная машина Husqvarna DMS 160 AT  с&#160;наклонной стойкой
										span Артикул: 9670982-01 
										span Вес: 15 кг
								+e.price-bl
									.old-price 15 990 ₽
									.new-price 11 490 ₽
								+e.amount-bl
									|x 2
							+e.items-list-box-item
								+e.item-img-descr
									img(src="img/@2x/lawn-mover-small.png" alt="lawn-mover")
									p Бурильная машина Husqvarna DMS 160 AT  с&#160;наклонной стойкой
										span Артикул: 9670982-01 
										span Вес: 15 кг
								+e.price-bl
									.old-price 15 990 ₽
									.new-price 11 490 ₽
								+e.amount-bl
									| x 2
						+e.prod-items-cont
							+e.prors-item
								span Товары 
								span 99
							+e.prors-item
								span Вес
								span 30 кг
							+e.prors-item.discount
								span Скидка
								span -11 890 ₽
							+e.prors-item.promo
								span Промокод
								span -11 890 ₽
							+e.prors-item.result
								span ИТОГО
								span 33 294  ₽
	// end sOrderingIndividual